.row {
  border-bottom: 0.05rem solid #cfcfcf;
}

.row-title {
  background-color: white;
  left: 0;
  text-align: left;
  position: sticky;
  z-index: 3;
  font-weight: normal;
  padding-left: 1rem;
}

.row-title-link,
.row-title-link:hover,
.row-title-link:focus,
.row-title-link:visited {
  text-decoration: none;
  color: black;
}

.link-icon {
  width: 0.75rem;
  margin-left: 0.25rem;
}
