[alias]
	line = !git log --format=\"%C(auto)%h%d %s\" --boundary origin/$(git config custom.defaultbranch)..
	log5 = log --oneline -n 5
	all = "!git add -A && git commit -m $1 && git push #"
	repull = pull --rebase
[custom]
	defaultbranch = main
