.table {
  border-collapse: collapse;
  z-index: 10;
  position: relative;
  width: 100%;
}

.head-row {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 14;
  height: 3rem;
}

.head-title {
  position: sticky;
  left: 0;
  z-index: 14;
  text-align: left;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  flex: 0 0 12rem;
  background-color: white;
}

.head-title-year {
  font-weight: normal;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  flex: 1 0 4rem;
  background-color: white;
}

.head-title-year-text {
  border-left: 0.05rem solid #bbb;
}
